.container{
    background:#d3d3d3;
    font-family: arial;
    padding:20px;
    display:flex;
    flex-direction: column;
    max-width: 940px;
    width: 100%;
    align-items:center;
    margin:60px auto;
}